<!DOCTYPE html>
<html lang="en" ng-app="AgileTasker">
<head>
    <title>Agile Tasker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="Content/icon.png" type="image/png" />

    <!-- Chrome and Safari Pinned Site App -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Resources -->
    <link href="Content/Sass/all.css" rel="stylesheet" />
    <link href="Content/Fontello/css/fontello.css" rel="stylesheet" />
    <script src="Content/Scripts/modernizr.js"></script>

    <!-- MS Pinned Site App -->
    <meta name="application-name" content="Agile Tasker" />
    <meta name="msapplication-TileColor" content="#B52D0E" />
    <meta name="msapplication-square70x70logo" content="Content/icon.png" />

    <!-- IOS Pinned Site App-->
    <link rel="apple-touch-icon-precomposed" href="Content/icon.png" />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41547679-2', 'splintercode.github.io');
        ga('send', 'pageview');
    </script>
</head>
<body ng-controller="TimerCtrl">
    <div class="app-width" ng-init="showPrimaryNav = false" ng-class="showPrimaryNav ? 'pml-open' : ' '">
        <nav class="primary-nav push-menu-left">
            <a href="#" class="close-menu-btn" ng-click="showPrimaryNav = false"><i class="icon-cancel float-right"></i></a>
            <a href="#" class="nav-link" ng-click="showPrimaryNav=false;view='main'">Timer</a>
            <a href="#" class="nav-link" ng-click="showPrimaryNav=false;view='settings'">Settings</a>
            <a href="#" class="nav-link" ng-click="showPrimaryNav=false;view='history'">History</a>
            <a href="#" class="nav-link" ng-click="showPrimaryNav=false;view='about'">About</a>
        </nav>
        <div id="push-wrapper">
            <!-- #region Header -->
            <header>
                <button class="menu-btn toggle-push-left float-right" ng-click="showPrimaryNav = !showPrimaryNav"><i class="icon-menu"></i></button>
                AGILE TASKER
            </header>
            <!-- #endregion -->
            <!-- #region View Main -->
            <main role="main" class="view view-main" ng-init="view='main'" ng-show="view=='main'">
                <div class="timer-box">
                    <div class="col-6-md current-time">{{currentTime}}</div>
                    <div class="col-6-md">
                        <nav class="secondary-nav">
                            <button id="Startbtn" ng-click="startTimer()" ng-disabled="isPlaying"><i class="icon-play"></i></button>
                            <button ng-click="stopTimer()"><i class="icon-stop"></i></button>
                            <select ng-model="selectedTime" ng-options="o.value for o in options" ng-change="stopTimer()"></select>
                        </nav>
                    </div>
                </div>
                <section class="task-list-wrapper">
                    <div class="col-5-c">
                        <div class="col-12">
                            <div class="label">Current Task</div>
                            <textarea ng-model="taskText" placeholder="Add Task" ng-maxlength="100" ng-disabled="isPlaying"></textarea>
                        </div>
                    </div>
                    <div class="col-7-c">
                        <div class="col-12">
                            <div class="label">Completed Tasks <a href="#0" ng-click="clearList()" class="float-right small">Clear All</a></div>
                            <ul class="task-list">
                                <li ng-repeat="task in tasks track by $index">
                                    <div>{{task.text}}</div>
                                    <span class="smallText"><span>{{task.start}}</span>&nbsp;<strong>to</strong>&nbsp;<span>{{task.stop}}</span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </main>
            <!-- #endregion -->
            <!-- #region View Settings -->
            <section class="view view-settings col-12" ng-show="view=='settings'">
                <h2>Settings</h2>
                <p>Volume: <i ng-class="{true: 'icon-volume-up', false: 'icon-volume-off'}[sound]" ng-click="toggleSound()" title="Volume"></i></p>
                <p>Break Duration: <select ng-model="selectedBreakTime" ng-options="t.value for t in breakTimes" ng-change="stopTimer()"></select></p>
            </section>
            <!-- #endregion -->
            <!-- #region View History -->
            <section class="view view-history col-12" ng-show="view=='history'">
                <h2>History</h2>
                <div class="label">Completed Tasks <a href="#0" ng-click="clearList()" class="float-right small">Clear All</a></div>
                <ul class="task-list">
                    <li ng-repeat="task in tasks track by $index">
                        <div>{{task.text}}</div>
                        <span class="smallText"><span>{{task.start}}</span>&nbsp;<strong>to</strong>&nbsp;<span>{{task.stop}}</span></span>
                    </li>
                </ul>
            </section>
            <!-- #endregion -->
            <!-- #region View About -->
            <secion class="view view-about col-12" ng-show="view=='about'">
                <h2>About</h2>
                <p>
                    A agile task & time management timer to help you get things done! Take a focused 20 to 25 mins of work and take a small
                    5 min break between each task. This helps keep your mental edge and gives your mind a chance to recoup.
                </p>
                <div>Built with:</div>
                <a href="http://angularjs.org/" target="_blank">
                    <img src="Content/AngularJS.png" width="40" height="40" alt="Angular.js Logo" title="Angular.js" />
                </a>
                <i class="icon-html5" title="HTML5"></i>
                <i class="icon-css3" title="CSS3"></i>
                <a href="https://github.com/splintercode/ThinkAgile" target="_blank"><i class="icon-github-circled-1" title="Git/Github"></i> </a>
                <div>
                    <div>Supported Browsers:</div>
                    <a href="http://splintercode.github.io/AgileTasker/" target="_blank"><i class="icon-chrome" title="Chrome"></i></a>
                    <a href="http://splintercode.github.io/AgileTasker/" target="_blank"><i class="icon-firefox" title="Firefox"></i></a>
                    <a href="http://splintercode.github.io/AgileTasker/" target="_blank"><i class="icon-ie" title="Internet Explorer"></i>9+</a>
                </div>
                <div>
                    <div>Built by:</div>
                    <a href="http://corycode.me" target="_blank">Cory Bateman</a>
                    <div class="clear-both"></div>
                </div>
            </secion>
            <!-- #endregion -->
            <!-- #region View Footer -->
            <footer>
                <i ng-class="{true: 'icon-volume-up', false: 'icon-volume-off'}[sound]" ng-click="toggleSound()" title="Volume"></i>
                <div class="localTime float-right">{{localTime}}</div>
            </footer>
            <!-- #endregion -->
        </div>
    </div>

    <!--<span ng-controller="Dialog">
        <i class=" icon-help-circled" ng-click="toggleModal()" title="Help"></i>
        <modal-dialog show='modalShown' width='100%' height='70%'>
            <p>Dialog Content</p>
        </modal-dialog>
    </span>-->

    <script src="Content/Scripts/bundle.js?v=1.3" async></script>

    <!--<script src="Content/Scripts/jquery.js"></script>
    <script src="Content/Scripts/angular.js"></script>
    <script src="Content/Scripts/localForage/localforage.js"></script>
    <script src="Content/Scripts/localForage/angular-localForage.js"></script>
    <script src="Content/Scripts/notifications.js"></script>
    <script src="Content/Scripts/fitText.js"></script>
    <script src="Content/Scripts/app.js"></script>-->
    <div class="mask" ng-click="showPrimaryNav = false" ng-init="showPrimaryNav = false" ng-class="showPrimaryNav ? 'mask-on' : ' '"></div>
</body>
</html>