<!DOCTYPE html>
<html lang="en" ng-app="AgileTasker">
<head>
    <title>Agile Tasker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="Content/icon.png" type="image/png" />

    <!-- Chrome and Safari Pinned Site App -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Resources -->
    <link href="Content/Sass/all.css" rel="stylesheet" />
    <link href="Content/Fontello/css/fontello.css" rel="stylesheet" />
    <script src="Content/Scripts/modernizr.js"></script>

    <!-- MS Pinned Site App -->
    <meta name="application-name" content="Agile Tasker" />
    <meta name="msapplication-TileColor" content="#B52D0E" />
    <meta name="msapplication-square70x70logo" content="Content/icon.png" />

    <!-- IOS Pinned Site App-->
    <link rel="apple-touch-icon-precomposed" href="Content/icon.png" />
</head>
<body>
    <div class="app-width" ng-controller="TimerCtrl">
        <section class="app">
            <header>
                AGILE TASKER
            </header>
            <main role="main">
                <div>
                    <div class="timer-box">
                        <div class="col-7-c currentTime">{{currentTime}}</div>
                        <div class="col-5-c">
                            <nav>
                                <button id="Startbtn" ng-click="startTimer()" ng-disabled="isPlaying"><i class="icon-play"></i></button>
                                <button ng-click="stopTimer()"><i class="icon-stop"></i></button>
                                <select ng-model="selectedOption" ng-options="o.value for o in options" ng-change="stopTimer()"></select>
                            </nav>
                        </div>
                    </div>

                    <section class="task-list-wrapper">
                        <div class="col-5-c">
                            <div class="label">Current Task</div>
                            <textarea ng-model="taskText" placeholder="Add Task" ng-maxlength="100" ng-disabled="isPlaying"></textarea>
                        </div>
                        <div class="col-7-c">
                            <div class="label">Completed Tasks <a href="#0" ng-click="clearList()" class="float-right small">Clear All</a></div>
                            <ul class="task-list">
                                <li ng-repeat="task in tasks">
                                    <div>{{task.text}}</div>
                                    <span class="smallText"><span>{{task.start}}</span>&nbsp;<strong>to</strong>&nbsp;<span>{{task.stop}}</span></span>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <i ng-class="{true 'icon-volume-up', false 'icon-volume-off' }[sound]" ng-click="toggleSound()"></i>
                </div>
            </main>
            <footer ng-controller="Dialog">
                <i class="icon-cog" ng-click="toggleModal()"></i>
                <modal-dialog show='modalShown' width='100%' height='70%'>
                    <section class="settings">
                        <div class="col-12">
                            <p>A agile task timer to help you get things done! Take a focused 20 to 25 mins of work and take a small
                             5 min break between each task. This helps keep your mental edge and gives your mind a chance to recoup.</p>
                            <div>Built with:</div>
                            <a href="http://angularjs.org/" target="_blank">
                                <img src="Content/AngularJS.png" width="40" height="40" alt="Angular.js Logo" title="Angular.js" />
                            </a>
                            <i class="icon-html5" title="HTML5"></i>
                            <i class="icon-css3" title="CSS3"></i>
                            <a href="https://github.com/splintercode/ThinkAgile" target="_blank"><i class="icon-github-circled-1" title="Git/Github"></i> </a>
                        </div>
                        <div class="col-12">
                            <div>Supported Browsers:</div>
                            <a href="http://splintercode.github.io/AgileTasker/" target="_blank"><i class="icon-chrome" title="Chrome"></i></a>
                            <a href="http://splintercode.github.io/AgileTasker/" target="_blank"><i class="icon-firefox" title="Firefox"></i></a>
                            <a href="http://splintercode.github.io/AgileTasker/" target="_blank"><i class="icon-ie" title="Internet Explorer"></i>9+</a>
                        </div>
                        <div class="col-12">
                            <div>Built by:</div>
                            <a href="http://corycode.me" target="_blank">Cory Bateman</a>
                            <div class="clear-both"></div>
                        </div>
                    </section>
                </modal-dialog>
                <i ng-class="{true: 'icon-volume-up', false: 'icon-volume-off'}[sound]" ng-click="toggleSound()"></i>
                <span class="localTime float-right">{{localTime}}</span>
            </footer>
        </section>
    </div>

    <!--<script src="Content/Scripts/bundle.min.js?v=1.2"></script>-->

    <script src="Content/Scripts/jquery.js"></script>
    <script src="Content/Scripts/angular.js"></script>
    <script src="Content/Scripts/localForage/localforage.js"></script>
    <script src="Content/Scripts/localForage/angular-localForage.js"></script>
    <script src="Content/Scripts/notifications.js"></script>
    <script src="Content/Scripts/fitText.js"></script>
    <script src="Content/Scripts/app.js?v=2"></script>
</body>
</html>