
.icon-spin1:before { content: '\e800'; } /* '' */
.icon-html5:before { content: '\e810'; } /* '' */
.icon-chrome:before { content: '\e802'; } /* '' */
.icon-opera:before { content: '\e804'; } /* '' */
.icon-ie:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-ok-circled:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e815'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-help:before { content: '\e808'; } /* '' */
.icon-help-circled:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e817'; } /* '' */
.icon-print:before { content: '\e81c'; } /* '' */
.icon-keyboard:before { content: '\e81d'; } /* '' */
.icon-attention:before { content: '\e816'; } /* '' */
.icon-firefox:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-volume-off:before { content: '\e812'; } /* '' */
.icon-volume-up:before { content: '\e813'; } /* '' */
.icon-clock:before { content: '\e819'; } /* '' */
.icon-left-open:before { content: '\e81b'; } /* '' */
.icon-right-open:before { content: '\e81a'; } /* '' */
.icon-play:before { content: '\e80c'; } /* '' */
.icon-stop:before { content: '\e80b'; } /* '' */
.icon-pause:before { content: '\e80d'; } /* '' */
.icon-chart-bar:before { content: '\e80e'; } /* '' */
.icon-coffee:before { content: '\e818'; } /* '' */
.icon-css3:before { content: '\e80f'; } /* '' */
.icon-github-circled:before { content: '\e811'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */