@import '_util';

/*! 
    https://github.com/splintercode/DualGrid
    MIT License http://opensource.org/licenses/MIT
    Dual Grid 
*/

*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

/* --- Column Set Up --- */
.row,
.col_1_xs,
.col_2_xs,
.col_3_xs,
.col_4_xs,
.col_5_xs,
.col_6_xs,
.col_7_xs,
.col_8_xs,
.col_9_xs,
.col_10_xs,
.col_11_xs,
.col_12_xs,
.col_1_sm,
.col_2_sm,
.col_3_sm,
.col_4_sm,
.col_5_sm,
.col_6_sm,
.col_7_sm,
.col_8_sm,
.col_9_sm,
.col_10_sm,
.col_11_sm,
.col_12_sm,
.col_1_md,
.col_2_md,
.col_3_md,
.col_4_md,
.col_5_md,
.col_6_md,
.col_7_md,
.col_8_md,
.col_9_md,
.col_10_md,
.col_11_md,
.col_12_md,
.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12,
.col_1_lg,
.col_2_lg,
.col_3_lg,
.col_4_lg,
.col_5_lg,
.col_6_lg,
.col_7_lg,
.col_8_lg,
.col_9_lg,
.col_10_lg,
.col_11_lg,
.col_12_lg,
.col__1,
.col__2,
.col__3,
.col__4,
.col__5,
.col__6,
.col__7,
.col__8,
.col__9,
.col__10,
.col__11,
.col__12 {
    width:100%;
    padding: 0 8px 16px 8px;
    float: left;
    display: block;
    min-height:1px;
}

.alpha { padding-left:0; }
.omega { padding-right:0; }

/* --- Extra Small Auto Grid --- */
.col_1_xs { width: 8.333%; } 
.col_2_xs { width: 16.666%; } 
.col_3_xs { width: 25%; } 
.col_4_xs { width: 33.333%; } 
.col_5_xs { width: 41.665%; } 
.col_6_xs { width: 50%; } 
.col_7_xs { width: 58.331%; }
.col_8_xs { width: 66.664%; } 
.col_9_xs { width: 75%; } 
.col_10_xs { width: 83.33%; } 
.col_11_xs { width: 91.663%; } 
.col_12_xs { width: 100%; } 
.visible_xs, .visible { display:block; }
.hidden_xs, .hidden { display:none; }

/* --- Small Auto Grid 540px and greater --- */
@include respond-min(33.75em) {
	.col_1_sm { width: 8.333%; } 
	.col_2_sm { width: 16.666%; } 
	.col_3_sm { width: 25%; } 
	.col_4_sm { width: 33.333%; } 
	.col_5_sm { width: 41.665%; } 
	.col_6_sm { width: 50%; } 
	.col_7_sm { width: 58.331%; }
	.col_8_sm { width: 66.664%; } 
	.col_9_sm { width: 75%; } 
	.col_10_sm { width: 83.33%; } 
	.col_11_sm { width: 91.663%; } 
	.col_12_sm { width: 100%; }
	.visible_sm { display:block; }
	.hidden_sm { display:none; }
}

/* --- Primary Medium Auto Grid 720px and greater --- */
@include respond-min(45em) {
	.col_1, .col_1_md { width: 8.333%; } 
	.col_2, .col_2_md { width: 16.666%; } 
	.col_3, .col_3_md { width: 25%; } 
	.col_4, .col_4_md { width: 33.333%; } 
	.col_5, .col_5_md { width: 41.665%; } 
	.col_6, .col_6_md { width: 50%; } 
	.col_7, .col_7_md { width: 58.331%; }
	.col_8, .col_8_md { width: 66.664%; } 
	.col_9, .col_9_md { width: 75%; } 
	.col_10, .col_10_md { width: 83.33%; } 
	.col_11, .col_11_md { width: 91.663%; } 
	.col_12, .col_12_md { width: 100%; } 
	.visible_md { display:block; }
	.hidden_md { display:none; }
}

/* --- Large Auto Grid 960px and greater --- */
@include respond-min(60em) {
	.col_1_lg { width: 8.333%; } 
	.col_2_lg { width: 16.666%; } 
	.col_3_lg { width: 25%; } 
	.col_4_lg { width: 33.333%; } 
	.col_5_lg { width: 41.665%; } 
	.col_6_lg { width: 50%; } 
	.col_7_lg { width: 58.331%; }
	.col_8_lg { width: 66.664%; } 
	.col_9_lg { width: 75%; } 
	.col_10_lg { width: 83.33%; } 
	.col_11_lg { width: 91.663%; } 
	.col_12_lg { width: 100%; }
	.visible_lg { display:block; }
	.hidden_lg { display:none; }
}


/* --- Secondary Semantic Control Grid ---
.col__1 { width: 8.333%; } 
.col__2 { width: 16.666%; } 
.col__3 { width: 25%; } 
.col__4 { width: 33.333%; } 
.col__5 { width: 41.665%; } 
.col__6 { width: 50%; } 
.col__7 { width: 58.331%; }
.col__8 { width: 66.664%; } 
.col__9 { width: 75%; } 
.col__10 { width: 83.33%; } 
.col__11 { width: 91.663%; } 
.col__12 { width: 100%; } */

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding:0 2%;
}