.ng-modal-overlay {
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#2d2d2d;
  opacity: 0.8;
}

.ng-modal-dialog {
  z-index:10000;
  position: absolute;
  width: 100%;
  max-width:600px;
  min-width:300px;
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 30px #2d2d2d;
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}

.ng-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  cursor: pointer;
  font-size: 1.3em;
  display: inline-block;
}