/*!
    Cory Bateman http://www.corycode.me 
    MIT License http://opensource.org/licenses/MIT 
*/

$themeGreen: #4cb658;

@font-face {
    font-family: 'robotolight';
    src: url('../Fonts/Roboto/roboto-light-webfont.eot');
    src: url('../Fonts/Roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/Roboto/roboto-light-webfont.woff') format('woff'), url('../Fonts/Roboto/roboto-light-webfont.ttf') format('truetype'), url('../Fonts/Roboto/roboto-light-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$full-width-max: 48em;
$full-width-app: 48.125em;

html {
    // Chrome App Override
    overflow: auto;
}

body {
    font-family: 'robotolight', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: #FFF;
    color: #2d2d2d;
    overflow-x: hidden;

    @include respond-min($full-width-max) {
        background: #2d2d2d;
    }
}

*, *:before, *:after {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}

*::selection {
    background: $themeGreen; /* Safari */
    color: #FFF;
}

*::-moz-selection {
    background: $themeGreen; /* Firefox */
    color: #FFF;
}

h2 {
    margin: 5px 0;
    padding: 12px 0 6px 0;
}

p {
    padding: 0;
    margin: 8px 0;
    max-width: 700px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.app-width {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    @include respond-min($full-width-app) {
        margin-top: 40px;
        max-width: 740px;
    }
}

a {
    color: $themeGreen;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: $themeGreen;
    }
}

header {
    width: 100%;
    padding: 6px;
    border-bottom: 0;
    background: $themeGreen;
    color: #FFF;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;

    @include respond-min($full-width-max) {
        position: relative;
    }
}

main {
    overflow: hidden;
    background: #FFF;
    padding: 38px 0 30px 0;

    @include respond-min($full-width-max) {
        padding: 0;
    }
}

footer {
    border-top: 1px solid #A6A6A6;
    clear: both;
    padding: 4px;
    width: 100%;
    background: #EDEDED;
    overflow: auto;
    position: fixed;
    bottom: 0;
    left: 0;

    i {
        font-size: 1.4em;
        cursor: pointer;
        padding: 0 5px;
    }

    .localTime {
        margin-top: 2px;
    }

    @include respond-min($full-width-max) {
        position: relative;
    }
}

.timer-box {
    width: 100%;
    padding: 25px 10px;
    background: #FFF;
    overflow: auto;
    border-bottom: 1px solid #A6A6A6;

    .current-time {
        font-size: 5.9em;
        text-align: center;
    }
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    overflow: auto;
    overflow-x: hidden;

    li {
        width: 100%;
        padding: 10px 1%;
        font-size: 1.1em;
        border-bottom: 1px solid #A6A6A6;

        &:first-child {
            border-top: 1px solid #A6A6A6;
        }

        &:nth-child(odd) {
            background: #FAFAFA;
        }
    }

    @include respond-min($full-width-max) {
        max-height: 140px;
    }
}

.label {
    padding: 4px 0;
    font-size: 1.3em;

    a {
        font-size: 0.8em;
        margin: 2px 4px;
    }
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #D1D1D1;
}

::-webkit-scrollbar-thumb {
    background: #9E9E9E;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.55);
}

::-webkit-scrollbar-corner {
    background: #000;
}

.ng-hide {
    /* this is just another form of hiding an element */
    display: block !important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}