.view {
    /*-webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    animation: fadein 0.5s;*/
    padding: 0 15px;
    min-height: 405px;

    @include respond-min($full-width-max) {
        height: 405px;
        overflow:hidden;
    }
}

.view-main {
    padding: 0;

    textarea {
        width: 100%;
        display: block;
        padding: 1%;
        margin: 2px auto;
        height: 100px;
        background: #FFF;
        color: #2d2d2d;
        border: 1px solid #A6A6A6;
        border-radius: 2px;
    }

    .col-7-c, .col-5-c {
        padding: 8px 0 0 0;
        margin-bottom: 0;
    }

    .col-7-c {
        margin-top: 40px;
        min-height: 210px;
    }

    @include respond-min($full-width-max) {
        textarea {
            font-size: 1.1em;
            height: 130px;
        }

        .col-7-c {
            width: 58.331%;
            margin-top: 0;
            border-left: 1px solid #A6A6A6;
        }

        .col-5-c {
            width: 41.665%;
        }

        .col-6-c {
            width: 50%;
        }
    }
}

.view-settings {
    .icon-volume-up, .icon-volume-off {
        font-size: 1.4em;
        cursor: pointer;
    }
}

.view-about {
    a {
        text-decoration: none;
    }

    i {
        font-size: 2.1em;
        color: #2d2d2d;
    }

    img {
        margin-bottom: -8px;
        width: 46px;
        height: 46px;
    }

    .icon-github-circled-1 {
        font-size: 2.5em;
    }
}

.view-history {
    .task-list {
        max-height:none;
    }

    @include respond-min($full-width-max) {
        .task-list {
            max-height: 288px;
        }
    }
}
