<section class="view view-about col-12">
    <h2>About {{ 'v%VERSION%' | interpolateVersion }}</h2>
    <p>
        A agile task & time management timer to help you get things done! Take a focused 20 to 25 mins of work and take a small
        5 min break between each task. This helps keep your mental edge and gives your mind a chance to recoup.
    </p><br />
    <div>Built with:</div>
    <div>
        <a href="http://angularjs.org/" target="_blank">
            <img src="Content/Images/AngularJS.png" width="40" height="40" alt="Angular.js Logo" title="Angular.js" />
        </a>
        <i class="icon-html5" title="HTML5"></i>
        <i class="icon-css3" title="CSS3"></i>
        <a href="https://github.com/splintercode/ThinkAgile" target="_blank"><i class="icon-github-circled-1" title="Git/Github"></i> </a>
    </div><br />
    <div>
        <div>Supported Browsers:</div>
        <a href="http://splintercode.github.io/AgileTasker/" target="_blank"><i class="icon-chrome" title="Chrome"></i></a>
        <a href="http://splintercode.github.io/AgileTasker/" target="_blank"><i class="icon-firefox" title="Firefox"></i></a>
        <a href="http://splintercode.github.io/AgileTasker/" target="_blank"><i class="icon-ie" title="Internet Explorer"></i>9+</a>
    </div><br />
    <div>
        <div>Built by:</div>
        <a href="http://corycode.me" target="_blank">Cory Bateman</a>
        <div class="clear-both"></div>
    </div>
    <br />
</section>
