<section class="view view-main">
    <div class="timer-box">
        <div class=" col-6-c current-time" ng-bind="settings.currentTime"></div>
        <div class="col-6-c">
            <nav class="secondary-nav">
                <button id="Startbtn" ng-click="startTimer()" ng-disabled="isPlaying"><i class="icon-play"></i></button>
                <button ng-click="stopTimer()"><i class="icon-stop"></i></button>
                <select ng-model="settings.selectedTime" ng-options="o.value for o in settings.options" ng-change="stopTimer()"></select>
            </nav>
        </div>
    </div>
    <section class="task-list-wrapper">
        <div class="col-5-c">
            <div class="col-12">
                <div class="label">Current Task</div>
                <textarea ng-model="settings.taskTextBox" placeholder="Add Task" ng-maxlength="100" ng-disabled="isPlaying"></textarea>
            </div>
        </div>
        <div class="col-7-c">
            <div class="col-12">
                <div class="label">Completed Tasks <a ng-click="clearList()" class="float-right small">Clear All</a></div>
                <agile-history ng-model="userSettings.taskHistory"></agile-history>
            </div>
        </div>
    </section>
</section>