<!DOCTYPE html>
<html lang="en" ng-app="AgileTasker" ng-csp>
<head>
    <title>Agile Tasker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="Content/Images/icon.png" type="image/png" />

    <!-- Chrome and Safari Pinned Site App -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Resources -->
    <link href="Content/Sass/all.css" rel="stylesheet" />
    <link href="Content/Fonts/Fontello/css/fontello.css" rel="stylesheet" />
    <script src="JavaScript/Libraries/modernizr.js"></script>

    <!-- IOS Pinned Site App-->
    <link rel="apple-touch-icon-precomposed" href="Content/icon.png" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41547679-2', 'splintercode.github.io');
      ga('send', 'pageview');
    </script>
</head>
<body ng-controller="TimerCtrl">
    <div class="app-width" ng-init="showPrimaryNav = false" ng-class="showPrimaryNav ? 'pml-open' : ' '">
        <nav class="nav push-menu-left">
            <a href="#" class="close-menu-btn" ng-click="showPrimaryNav = false"><i class="icon-cancel float-right"></i></a>
            <a href="#/" class="nav__link" ng-click="showPrimaryNav = false">Timer</a>
            <a href="#/settings" class="nav__link" ng-click="showPrimaryNav = false">Settings</a>
            <a href="#/history" class="nav__link" ng-click="showPrimaryNav = false">History</a>
            <a href="#/about" class="nav__link" ng-click="showPrimaryNav = false">About</a>
        </nav>
        <div id="push-wrapper">
            <header>
                <button class="menu-btn toggle-push-left float-right" ng-click="showPrimaryNav = !showPrimaryNav"><i class="icon-menu"></i></button>
                AGILE TASKER
            </header>
            <main ng-view></main>
            <footer>
                <i ng-class="{true: 'icon-volume-up', false: 'icon-volume-off'}[userSettings.sound.play]" ng-click="toggleSound()" title="Volume"></i>
                <div agile-clock class="localTime float-right"></div>
            </footer>
        </div>
    </div>
    <div class="mask" ng-click="showPrimaryNav = false" ng-init="showPrimaryNav = false" ng-class="showPrimaryNav ? 'mask-on' : ' '"></div>
    <script src="JavaScript/Config/bundle.js?v=1.5" async></script>
</body>
</html>