/*!
    Cory Bateman http://www.webdesignis.me 
    MIT License http://opensource.org/licenses/MIT 
*/
body
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: #BF2D1C;
    color: #FFF;
}

@font-face
{
    font-family: 'LCD';
    src: url('../../Includes/Fonts/liquidcrystal-normal-webfont.eot');
    src: url('../../Includes/Fonts/liquidcrystal-normal-webfont.eot?#iefix') format('embedded-opentype'), url('../../Includes/Fonts/liquidcrystal-normal-webfont.woff') format('woff'), url('../../Includes/Fonts/liquidcrystal-normal-webfont.ttf') format('truetype'), url('../../Includes/Fonts/liquidcrystal-normal-webfont.svg#liquid_crystalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*::selection
{
    background: #F23322; /* Safari */
    color: #FFF;
}

*::-moz-selection
{
    background: #F23322; /* Firefox */
    color: #FFF;
}

a
{
    color: #FFF;
}

h1
{
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 2.2em;
    margin: 0px;
    margin-left:5px;
}

.about
{
    clear: both;
    margin-top: 100px;
}

.currentTime
{
    float: left;
    color: #FFF;
    font-size: 1.3em;
}

.startTime
{
    float: right;
    font-size: 1.3em;
}

.pomTime_container
{
    display: block;
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -50px;
    width: 100%;
    text-align: center;
}

.pomTime
{
    font-family: 'Lato', sans-serif;
    color: #FFF;
    display: inline-block;
    height: 50px;
    font-weight: 300;
    position: relative;
    text-align: right;
    font-size: 2.8em;
}


.times
{
    font-size: 0.85em;
    margin-bottom: 5px;
    overflow: auto;
    border-bottom: solid 2px #333;
    display: none;
}

.selections
{
    font-size: 1.3em;
    margin: 5px 0px 20px 10px;
    float: left;
}

.selection
{
    margin-left: 0px;
    border: solid 1px #000;
    font-size: 1em;
    margin-top: 10px;
    border-radius: 5px;
    min-width:100px;
}

#Alarm
{
    clear: both;
    text-align: center;
}

    #Alarm .button
    {
        max-width: 200px;
        float: left;
        display: block;
        margin: 20px 0px 10px 0px;
        font-size: 1.6em;
    }

.testAlarmButton
{
    max-height: 30px;
    max-width: 30px;
    float: left;
    width: 100%;
    cursor: pointer;
}

nav
{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

    nav .button
    {
        width: 33.3333333333%;
        background: #303030;
        overflow: auto;
        float: left;
        height: 70px;
        text-align: center;
        cursor: pointer;
        line-height: 70px;
        font-size: 1.5em;
        text-shadow: 2px 2px 2px #000;
    }

        nav .button:active {
            text-shadow:none;
        }

    nav .boxRed {
        background-color:#BF2D1C;
    }

/* #region Check Box */
.soundCheckbox
{
    position:absolute;
    top:10px;
    right:10px;
    width:60px;
    font-size:1.5em;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  float:right;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 20px; height: 20px;
  border: 1px solid #ddd;
  background: #FAFAFA;
  border-radius: 3px;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713';
  font-size: 20px;
  position: absolute;
  top: 0px; left: 3px;
  transition: all .2s;
  color:#454545;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #EB7A08;
}
/* #endregion */

@media all and (min-width: 37em)
{
    .pomTime_container
    {
        height: 100px;
        margin-top: -100px;
    }

    .pomTime
    {
        height: 200px;
        font-weight: 300;
        font-size: 5em;
    }

    h1
    {
        text-align:center;
    }

    .selection
    {
        position:absolute;
        top:0px;
        right:10px;
        font-size: 1.3em;
        width:140px;
    }

    .soundCheckbox
    {
        position:absolute;
        top:10px;
        right:180px;
        width:60px;
        font-size:1.5em;
    }
}

@media all and (min-width: 57em)
{
    .pomTime_container
    {
        height: 150px;
        margin-top: -150px;
    }

    .pomTime
    {
        height: 200px;
        font-weight: 300;
        font-size: 8em;
    }

    nav .button
    {
        height: 170px;
        line-height: 170px;
        font-size: 2.4em;
    }
}

@media all and (min-width: 73em)
{
    .pomTime_container
    {
        height: 200px;
        margin-top: -200px;
    }

    .pomTime
    {
        height: 200px;
        font-weight: 300;
        font-size: 11em;
    }
}